.companiesData {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.companiesData__topLine {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* margin: 0 auto; */
  padding: 1rem;
}

.companiesData__body {
  /* width: 100%; */
  overflow-y: auto;
  flex-grow: 1;
  border-top: 1px solid black;
}
